$purple1: #401f3e;
$purple2: #3f2e56;
$blue1: #453f78;
$blue2: #759aab;
$yellow: #faf2a1;
$white: #ffffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

