@import '../../components/app/App.scss';
.form-container {
    text-align: center;
    form.form-layout {
        width: 100%;
        padding: 20px;
        .form-group {
            display: grid;
            margin-bottom: 25px;
            label {
                text-align: left;
                font-weight: 900;
                color: $purple2;
            }
            textarea {
                resize: none;
                height: 200px;
                padding: 10px;
            }
        }
    }
}